<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8" />
  <title>Bayer Akinator</title>
</head>
<body id="home">
  {% if result %}
    <h1>You are thinking of {{ result }}!</h1>
  {% else %}
    <h1>{{ question_text }}</h1>
    <form>
      <input type="hidden" name="question" value="{{ question }}" />
      <label><input type="radio" name="answer" value="1" required /> Yes</label><br />
      <label><input type="radio" name="answer" value="0" required /> No</label><br />
      <label><input type="radio" name="answer" value="0.5" required /> Don't know</label><br />
      <label><input type="radio" name="answer" value="0.75" required /> Probably</label><br />
      <label><input type="radio" name="answer" value="0.25" required /> Probably Not</label><br />
      <br />
      <input type="submit" value="Next" />
    </form>
  {% endif %}
</body>
</html>